mat-card {
  width: 25%;
  min-height: 200px;
  border: 2px solid white;
  margin: 12px;
}

mat-card-actions {
  padding-top: 0;
  display: flex;
  justify-content: end;
}

button {
  margin-bottom: 10px;
}
